<div class="grid_12">
  <h1 class="tera" data-fittext>
    We have a wide variety of delicious desserts that are sure to take 
    you by surprise!
  </h1>
</div>

<div class="grid_12 omega">
  <h2 class="giga">Contact Smells Like Bakin'</h2>
  <form class="mail-form" action="contact.php" method="post">
    <p class="grid_12" data-input-valid=false>
      <label class="grid_12" for="name">Name:</label>
      <input class="grid_12" name="name" id="name" type="text" data-input>
      <span class="message" data-input-type="input">
        Please enter your name
      </span>
    </p>

    <p class="grid_12" data-input-valid=false>
      <label class="grid_12" for="email">Email:</label>
      <input class="grid_12" name="email" id="email" type="text" data-input>
      <span class="message" data-input-type="email">
        Please enter a valid email address
      </span>
    </p>

    <p class="grid_12" data-input-valid=false>
      <label class="grid_12" for="subject">Subject:</label>
      <input class="grid_12" name="subject" id="subject" type="text" data-input>
      <span class="message" data-input-type="input">
        Please enter your subject
      </span>
    </p>

    <p class="grid_12" data-input-valid=false>
      <label class="grid_12" for="message">Message</label>
      <textarea class="grid_12" name="message" id="message" data-input>
      </textarea>
      <span class="message" data-input-type="text">
        Please enter your message
      </span>
    </p>

    <p>
      <input type="submit" value="Submit" class="btn" data-btn-submit disabled="disabled">
    </p>
  </form>
</div>
