<div class="grid_12">
  <h1 class="tera" data-fittext>
    We're kicking taste buds in to high gear from the west to the east 
    coast with our featured avacodo chocolate cupcake.
  </h1>
</div>

<div id="locations" class="grid_12">
  <div id="map"></div>

  <div class="grid_6">
    <h2 class="giga">Orlando Store</h2>

    <p>
      Local: <span class="phone">407-555-5555</span><br>
      Toll Free: <span class="phone">1-800-CUP-CAKE</span><br>
      Email us: <a class="avocato" href="#">bakeon@smellslikebakin.com</a>
    </p>

    <address>
      622 E Washington Street, Suite 240<br>
      Orlando, FL 32801
    </address>
  </div>
  <div class="grid_6 omega">
    <h2 class="giga">Portland Store</h2>

    <p>
      Local: <span class="phone">503-555-5555</span><br>
      Toll Free: <span class="phone">1-800-CUP-CAKE</span><br>
      Email us: <a class="avocato" href="#">bakeon@smellslikebakin.com</a>
    </p>

    <address>
      70 Northwest Couch Street<br>
      Portland, Oregon 97209
    </address>
  </div>
</div>
